* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f5dcb4;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
}
